.pokedex-header{
    background-color: orange;
}
.detail_container{
    position:relative;
}

.filter-area{
    background-color: #ffdea3;  
}

.pokemon-list{
    background-color: #ffefd2;
 
}
 
.PokeCard{
    border: dotted orange;
    border-radius: 5%;
    height: 200px;
    margin-bottom: 10px;
}
@media (min-width: 768px) {
 
   .poke-details{
       
        position: fixed;
    }
}
