<!DOCTYPE html>

<html lang="UA-ua">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DAS KOTTAN POKEDEX</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<!--Bootstrap CDN Latest compiled and minified CSS 20-03-2016 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!--angular from cdn-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script type="text/javascript" src="js/angular-resource.min.js"></script>

<!--integrate bootstrap with angular. I worked with this previously and feel comfortable-->
<script type="text/javascript" src="js/ui-bootstrap-tpls-1.2.4.min.js"></script>

<link rel="stylesheet" href="css/app.css" type="text/css" />
</head>

<body ng-app="pokedexApp">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center pokedex-header">
            <h1>Quodnon's POKEDEX!!</h1>
    </div>
    <div class='container'  ng-controller="pokemonListController">
        <div class="row filter-area">
            <button ng-click='selDesFilters()' class='btn btn-warning btn-xs col-lg-2 col-md-2 col-sm-2 col-xs-6'>all</button>
            <span class='col-lg-2 col-md-2 col-sm-2 col-xs-6' ng-repeat="type in pokeTypes | availableTypes:pokemons">
                <input type="checkbox" ng-model='type.checked' ng-checked='type.checked' ng-hide="itemExistsInResults(type,pokemons)" ><span  ng-class='[type.name.toLowerCase()]'>{{type.name.toLowerCase()}}</span></input>
            </span>
        </div>
        <div class='row' >
            <div ng-class="['detail_container',{'col-lg-12':!showDetailsOfPokemon}, {'col-md-6':showDetailsOfPokemon}, {'col-sm-6':showDetailsOfPokemon},{'col-sm-push-6':showDetailsOfPokemon},{'col-md-push-6':showDetailsOfPokemon}]" ng-show='showDetailsOfPokemon' >
                <poke-info id="detail_{{selectedPokemon.name}}"
                    ng-class="['poke-details','text-center']" 
                    ng-model='selectedPokemon'>
                </poke-info>
            </div>
            <div ng-class="['pokemon-list',{'col-lg-12':!showDetailsOfPokemon}, {'col-sm-6':showDetailsOfPokemon},{'col-sm-pull-6':showDetailsOfPokemon},{'col-md-6':showDetailsOfPokemon}, {'col-md-pull-6':showDetailsOfPokemon}]">
                <div ng-repeat="pokemon in pokemons | selectedPoketype:pokeTypes ">
                    <poke-card class='PokeCard col-md-4 col-lg-4 col-sm-6 col-xs-12' ng-click='switchToPokemon(pokemon)' ng-model="pokemon"></poke-card>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <button class="btn-lg btn-warning" ng-hide="noMorePokemons" ng-click='loadMore()'>I NEED MOAR POKEMONS!</button>
        </div>
    </div>
</body>
<!--POKEDEX SPA after we loaded all above-->
<script type="text/javascript" src="js/app.js"></script>
</html>
