<div class='poke-detail-card'>
    <div class='col-md-12 text-right'>
    <!--пришпилить к центру екрана чтобы не улетало. по умолчанию вкл-->
    <button ng-class="['btn', 'btn-xs',{'btn-warning':pinned},{'btn-default':!pinned}, 'glyphicon', 'glyphicon-pushpin']" ng-click='pinDetails()' ng-show='showPinned'></button>
    <!--сховати інфу про покемончика-->
    <button class='btn btn-xs  btn-danger glyphicon glyphicon-remove' ng-click='closeDetails()'></button>
    </div>
    <img class='image-responsive center'  ng-src="https://pokeapi.co/media/img/{{selectedPokemon.pkdx_id}}.png" alt="{{selectedPokemon.name}}" />
    <div><b>{{selectedPokemon.name}} #{{selectedPokemon.pkdx_id}}</b></div>
    <!--не мудрствуя - стандартную бутстраповскую табличку-->
    <table class='table'>
    <tr>
        <td>Type</td>
        <td>
            <span ng-repeat="type in selectedPokemon.types">
                <span ng-class="[type.name,'type']">{{type.name}} </span><span> </span>
            </span>
        </td>
    </tr>
    <tr>
        <td>Attack</td>
        <td>{{selectedPokemon.attack}}</td>
    </tr>
    <tr>
        <td>Defense</td>
        <td>{{selectedPokemon.defense}}</td>
    </tr>
    <tr>
        <td>HP</td>
        <td>{{selectedPokemon.hp}}</td>
    </tr>
    <tr>
        <td>SP Attack</td>
        <td>{{selectedPokemon.sp_atk}}</td>
    </tr>
    <tr>
        <td>SP Defense</td>
        <td>{{selectedPokemon.sp_def}}</td>
    </tr>
    <tr>
        <td>Speed</td>
        <td>{{selectedPokemon.speed}}</td>
    </tr>
    <tr>
        <td>Weight</td>
        <td>{{selectedPokemon.weight}}</td>
    </tr>
    <tr>
        <td>Total moves</td>
        <td>{{selectedPokemon.moves.length}}</td>
    </tr>
    </table>
</div>